# directories #

build/
desktop/
gradle/
ios/

html/src
html/war
html/webapp

html/build/classes
html/build/dependancy-cache
html/build/gwt
html/build/libs

# files #

build.gradle
gradlew
gradlew.bat
settings.gradle

html/build.gradle